@{
    ViewData["Title"] = "CreateGroup";
}

<h1>CreateGroup</h1>
<form method="post">
    <label for="fname">Название сервера:</label><br>
    <input type="text" name="name"><br>
    <input type="submit" value="Создать">
</form>

