@{
    ViewData["Title"] = "Voicecord";
}

<div class="text-center">
    <div class="container"> 
        <div>
            <label>Ваш ник:</label>
            <p id="username"> @User.Identity.Name</p>
        </div>

        <div class="mt-5">
            <input type="text" id="message" />
            <input type="button" id="SendMessage" value="Send" />
        </div>
    </div>
    <div class="mt-3">
        <ul id="discussion"></ul>

    </div>
    <a href="/Home/CreateGroup/">Создать канал</a>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/js/site.js"></script>