@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">

    <img src="/images/logo.png" class="rounded float-right" width="200px" height="200px"/>
    <h3 class="cover-heading">Voicecord.</h3>
    <p class="w-25 p-3 mx-auto lead">Добро пожаловать в VoiceCord - гибкое приложение для общения, объединяющее текстовые сообщения и голосовые чаты. Создавайте голосовые каналы, общайтесь в тексте, присоединяйтесь к сообществам по интересам. Готовы перейти на новый уровень общения? Присоединяйтесь к VoiceCord прямо сейчас! 🎙️💬🌐
    </p>

    <a href="/Group/GetGroups"class="btn btn-primary">Начать общаться!</a>
</div>

