@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="videos">
        <span>
            <h3>@User.Identity.Name</h3>
            <video id="webcamVideo" autoplay playsinline width="750" height="340"></video>
        </span>
    </div>
    <button id="callButton">Вступить в звонок</button>

    <button id="hangupButton">Отключиться</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/js/webrtc.js"></script>
</body>

