@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <p class="h2">Политика конфиденциальности VoiceCord.</p>

    <p class="w-30 p-3 mx-auto lead">
        🔒 VoiceCord 2024 - Все права защищены авторским правом
        © 2024 VoiceCord. Все права защищены. Любое копирование, распространение или воспроизведение без разрешения владельца авторских прав запрещено.
    </p>
    <p class="w-30 p-3 mx-auto lead">
        VoiceCord и связанные с ним логотипы являются зарегистрированными товарными знаками VoiceCord, Inc. в Соединенных Штатах и других странах.
    </p>
    <p class="w-30 p-3 mx-auto lead">
        Настоящее уведомление включает в себя, но не ограничивается следующим: дизайн, логотипы, текст, графику, звуки, изображения, программное обеспечение и другие материалы, представленные в приложении VoiceCord, являются объектами авторского права и принадлежат VoiceCord, Inc.
    </p>
    <p class="w-30 p-3 mx-auto lead">
        VoiceCord предоставляет только официальные версии своего приложения для обеспечения безопасности и качественного опыта для пользователей. Использование неофициальных версий может привести к нарушению авторских прав и угрозе безопасности.
    </p>
    <p class="w-30 p-3 mx-auto lead">
        По всем вопросам по лицензированию, сотрудничеству или использованию материалов обращайтесь к юридическому отделу VoiceCord: legal@voicecord.com.
    </p>
    <p class="w-30 p-3 mx-auto lead">
        Благодарим за понимание и выбор VoiceCord! 🎙️🔒
    </p>

</body>

