@using Voicecord.ViewModels.Group
@model AddToGroupViewModel
@{
    ViewData["Title"] = "Добавить канал";
}

<br>
<h3>Присоединиться к каналу</h3>



                            <form asp-controller="Group" asp-action="AddToGroup">
                                <div asp-validation-summary="All" ></div>
                                <div class="form-group">
        <label for="exampleInputEmail1">Ссылка</label>
                                    <input asp-for="GroupLink" class="form-control" placeholder="Секретная ссылка канала" type="text">
                                </div>
                                <br>
                                <button class="btn btn-primary" type="submit">Отправить</button>
                            </form>
