@using Voicecord.ViewModels.Group
@model CreateGroupViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Создание канала";
}
<br>
<h3>Создание канала</h3>

                            <form asp-controller="Group" asp-action="CreateGroup">
                                <div asp-validation-summary="All"></div>
                                <div class="form-group">
        <label for="exampleInputEmail1">Название</label>
                                    <input asp-for="NameGroup" class="form-control " placeholder="Название канала" type="text">

                                </div>
                                <div class="form-group">
        <label for="exampleInputEmail1">Секретная ссылка для входа в канал</label>
                                    <input asp-for="GroupLink" class="form-control " placeholder="Ссылка канала" type="text">
                                </div>
                                <div class="form-group">
                                    <input asp-for="CreatorId" value=@User.Identity.Name class="form-control" placeholder="login создателя" type="hidden">
                                </div>
                                <br>
                                <button class="btn btn-primary" type="submit">Отправить</button>
                            </form>
