
@model Voicecord.Domain.ViewModels.Group.CreateTextChatViewModel;

@{
    ViewData["Title"] = "CreateTextChat";
}

<h1>CreateTextChat</h1>

<div style="padding: 20px;"></div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <span class="anchor"></span>
                    <div class="card card-account card-outline-secondary border border-white">
                        <div class="card-header">
                            <h3 class="mb-0 text-center paragraphHome text-black">Создание чата</h3>
                        </div>
                        <div class="card-body">
                            <form asp-controller="Group" asp-action="CreateTextChat">
                                <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
                                
                                <div class="form-group">
                                    <input asp-for="NameGroup" class="form-control textbox-dg font-weight-bold text-center" placeholder="Название чата" type="text">
                                </div>
                                <div class="form-group">
                                    <input asp-for="CreatorId" value=@User.Identity.Name class="form-control textbox-dg font-weight-bold text-center" placeholder="login создателя" type="hidden">
                                </div>
                                <div class="form-group">
                                    <input asp-for="GroupLink" value="@Model.GroupLink" class="form-control textbox-dg font-weight-bold text-center" placeholder="login создателя" type="hidden">
                                </div>
                                
                                <button class="btn btn-success btn-lg float-right" type="submit">Отправить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>