@using Voicecord.ViewModels.Group
@model CreateTextChatViewModel;

@{
    ViewData["Title"] = "Создать текстовой чат";
}
<br>
<h3>Создать текстовой чат</h3>



                            <form asp-controller="Group" asp-action="CreateTextChat">
                                <div asp-validation-summary="All" ></div>
                                
                                <div class="form-group">
        <label for="exampleInputEmail1">Название</label>
                                    <input asp-for="NameGroup" class="form-control" placeholder="Название чата" type="text">
                                </div>
                                <div class="form-group">
                                    <input asp-for="CreatorId" value=@User.Identity.Name type="hidden">
                                </div>
                                <div class="form-group">

                                    <input asp-for="GroupLink" value="@Model.GroupLink" type="hidden">
                                </div>
                                <br>
                                <button class="btn btn-primary" type="submit">Отправить</button>
                            </form>
