@model IEnumerable<Voicecord.Models.UserGroup>

@{
    ViewData["Title"] = "Список каналов";
}
<br>
<h3 class="text-center">Список ваших каналов</h3>
<br>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
               Название канала
            </th>
            <th>
                Ссылка 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkImageGroup)
                </td>
                <td>
                    <a asp-action="GetGroup" asp-route-id="@item.Id">Войти в канал</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form action="/Group/CreateGroup/">
    <button type="submit" class="btn btn-primary btn-lg">Создать канал</button>
</form>
<br>
<form action="/Group/AddToGroup/">
    <button type="submit" class="btn btn-info  btn-lg">Подключиться к каналу</button>
</form>