html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wrapper {
    margin: 0 auto;
    width: 800px;
}

.tabs-nav {
    display: flex;
    justify-content: space-between;
}

.tabs-nav__item {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    flex: 1;
    padding: 20px;
}

    .tabs-nav__item.is-active {
        border-color: #55a32a;
    }

.tab {
    background-color: #f2f2f2;
    display: none;
    padding: 20px;
}

    .tab.is-active {
        display: block;
    }