@using Voicecord.ViewModels.Account;
@model LoginViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Вход в аккаунт";
}

<br>
<h3>Авторизация</h3>

                            <form autocomplete="on" method="post" asp-controller="Account" asp-action="Login">
                                <div asp-validation-summary="All" ></div>
                                <div class="form-group">
        <label for="exampleInputEmail1">Логин</label>
                                    <input asp-for="Name" placeholder="Логин" class="form-control" type="text">
                                </div>
                                <div class="form-group">
        <label for="exampleInputEmail1">Пароль</label>
                                    <input autocomplete="new-password" asp-for="Password" placeholder="Пароль" class="form-control " type="password">
                                </div>
                                <br>
                                <div class="d-grid gap-2 d-md-block float-right">
                                    <button class="btn btn-primary">Отправить</button>
        <a asp-controller="Account" asp-action="Register" class="btn btn-info" type="button">Регистрация</a>
                                </div>
                            </form>
