@using Voicecord.ViewModels.Account;
@model RegisterViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Регистрация";
}

<br>
<h3>Регистрация</h3>


                            <form asp-controller="Account" asp-action="Register">
                                <div asp-validation-summary="All"></div>
                                <div class="form-group">
        <label for="exampleInputEmail1">Имя</label>
                                    <input asp-for="Name" class="form-control" placeholder="Имя" type="text">
                                </div>

                                <div class="form-group">
        <label for="exampleInputEmail1">Почта</label>
        <input asp-for="Email" placeholder="Email"  class="form-control" type="text">
                                </div>

                                <div class="form-group">
        <label for="exampleInputEmail1">Пароль</label>
                                    <input autocomplete="new-password" asp-for="Password" placeholder="Пароль" class="form-control " type="password">
                                </div>
                              
                                <div class="form-group">
        <label for="exampleInputEmail1">Подтвеждение пароля</label>
                                    <input autocomplete="new-password" asp-for="PasswordConfirm" placeholder="Подтвердите пароль" class="form-control " type="password">
                                </div>
                                <br>
                                <button class="btn btn-primary " type="submit">Отправить</button>
                            </form>